<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The best Party-service</title>
    {% load static %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'party_style/fire_logo_new.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'party_style/styles.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="headerinfo">
      {% load static %}
      <img src="{% static 'party_style/late_night_in_the_woods.webp' %}" />
      <div class="background">
        <div class="transbox">
          <p>Our Party-service is the best!</p>
        </div>
        <div>
          <ul class="navbar">
            <li><a href="{% url 'partyservice:index' %}">Home</a></li>
            <li><a href="{% url 'partyservice:index' %}">News</a></li>
            <li><a href="{% url 'partyservice:index' %}">Contact</a></li>
            <li><a href="{% url 'partyservice:index' %}">About</a></li>
            <li><a href="{% url 'partyservice:index' %}">Directions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="left-column"></div>
      <div class="right-column"></div>
      <span class="profilepic">
        {% load static %}
        <img src="{% static 'party_style/AI_agent.png' %}" alt="our_agent" />
      </span>
      <div class="textbox_header">
        Fancy a party in the woods in the New York area?
      </div>
      <div class="textbox_lines">
        We've got you covered! All you need to bring are your friends. <br />
        Have a special wish? <br />
        We have a solution for everything <br />
        We don't take no for an answer - so why should you? <br />
        We'll make sure you have everything you need for the party you've been
        planning for so long. <br />
      </div>
      <div class="textbox_lines">You name it - we'll make it true.</div>
      <div class="textbox_lines_lorem">
        laudantium illo sed accusantium, dolores rerum mollitia. Atque commodi
        sunt consequatur laborum voluptatibus a tenetur id animi? Quod, dolorum
        vel id aperiam facere quibusdam distinctio eaque odio quis cumque earum
        qui maxime nihil deleniti? Consectetur quia fugit est ut, suscipit
        asperiores id optio repellat, rem veritatis minus ipsa corporis non
        nesciunt soluta ea pariatur. Et quidem quae officiis sit magnam
        reiciendis maiores inventore ad tempore, voluptas nisi veritatis ipsum
        sunt, dolor consequuntur libero excepturi eum saepe deleniti delectus
        laborum asperiores in consequatur. Distinctio provident laudantium
        voluptate, voluptatibus eveniet vel ducimus quo dolore optio saepe,
        animi sint inventore consequatur tempora omnis? Provident repudiandae
        omnis esse! Iure cupiditate libero pariatur! Excepturi cupiditate vitae
        impedit temporibus corrupti fugiat aspernatur expedita aperiam quos odit
        dolorem sapiente labore ea, quod odio aliquid eveniet officiis
        voluptatum quidem minus fuga repudiandae nisi. Maiores, aperiam quis
        totam et qui perspiciatis obcaecati fugiat dignissimos veritatis sint
        quas recusandae possimus pariatur odit consectetur molestias debitis.
        Vitae, quam facilis eligendi corporis saepe suscipit alias in impedit
        eum. Quas doloribus iusto nisi quasi magni dignissimos voluptatem, vitae
        possimus similique animi libero molestiae aliquam vel voluptates
        nesciunt tempora, repellendus expedita quis harum necessitatibus dicta
        suscipit. Ducimus ipsam laboriosam quas quia asperiores placeat error
        deleniti dolorem enim voluptatem consequatur, mollitia dolor soluta
        culpa fugiat voluptatibus doloribus rem fugit, eaque magni recusandae,
        quam dolore at. Ratione sed, eos mollitia eaque pariatur nulla error
        commodi laudantium. Adipisci dolor possimus eligendi cum ipsam quidem ea
        quaerat, dolorum accusantium corrupti vitae fuga numquam, veritatis
        reprehenderit culpa atque aut vero nobis repellendus et, ex velit iure
        a! Dolore id expedita exercitationem incidunt alias porro cumque
        provident culpa. Sapiente ab cum perspiciatis culpa quos voluptatum
        porro quam perferendis praesentium harum quidem vel aliquam officia,
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto
        exercitationem commodi doloribus libero hic ullam quibusdam voluptatem.
        Molestiae, facilis iste voluptatibus mollitia ex molestias eveniet magni
        earum quis officiis natus. Commodi harum quasi labore vitae minus
        reprehenderit mollitia ipsum, praesentium perspiciatis velit tempora.
        Facere, non. Deserunt beatae quas nisi quibusdam optio. Pariatur eos
        illo facilis placeat provident architecto ipsum error odit qui eligendi
        optio, laudantium dolorem. Cupiditate dolor expedita culpa molestiae
        minima magnam aut placeat, id iusto, eaque reiciendis doloremque porro
        ullam quaerat asperiores maiores veritatis vero numquam perspiciatis
        explicabo consectetur corporis, qui corrupti? Optio pariatur sapiente
        voluptatem id possimus quis nihil facilis a, quam illo cum ipsa
        voluptate repellat commodi expedita in vel quisquam blanditiis. Qui
        veritatis quod in eum corrupti, ab vel nisi fuga similique laboriosam
        amet expedita nulla sunt ex error, quo minus incidunt tempore nam
        impedit voluptatibus quae. Cupiditate mollitia magnam, laudantium nam
        neque modi iure tenetur nesciunt error atque dolore, quos voluptatibus
        ex.
      </div>
      <div class="textbox_lines_lorem">
        Accusantium saepe impedit facere! Ut cupiditate aliquam eaque, possimus
        quibusdam delectus ullam veniam? Numquam nam quod, odit earum corrupti
        eos a molestias consequuntur, nulla alias maxime, dolorum aspernatur
        culpa. Deserunt quos assumenda facilis adipisci ad sit cupiditate ab
        voluptas sapiente architecto, optio voluptates magnam exercitationem cum
        atque a sunt nisi rerum quod laboriosam! Dolore quos soluta veritatis
        qui, iste, voluptates placeat, voluptate delectus repudiandae labore
        eveniet animi accusamus! Facere deleniti minima quo pariatur, qui quasi
        reprehenderit! Assumenda hic molestiae ad. Esse architecto assumenda
        quisquam tempora mollitia officiis pariatur possimus. Dicta veniam nam
        vitae, magni obcaecati blanditiis excepturi cupiditate placeat eos,
        voluptatum mollitia! Ratione doloremque sapiente et deserunt est
        voluptas natus sed similique, vitae eligendi eos voluptatem harum
        corrupti libero a expedita nesciunt. Magnam accusantium fugit iure
        asperiores quis a dolore, ab deserunt, rem natus, dignissimos cumque
        consequatur reprehenderit inventore facilis in nesciunt vero. Beatae,
        hic error amet blanditiis quae accusantium aperiam est fuga dignissimos,
        maxime, ullam harum numquam magnam illum in ipsa totam. Deserunt harum
        iure quaerat nesciunt consequuntur officia, voluptas beatae accusantium
        libero, sunt, illum aperiam soluta odit aut reiciendis suscipit? Autem
        vero aliquam adipisci? Vero, soluta maxime. Nihil, incidunt aliquid,
        recusandae similique omnis aut, laudantium labore est perferendis vel
        impedit! Omnis laboriosam alias animi voluptatibus autem enim
        reprehenderit! At expedita impedit, saepe quidem, neque quisquam nihil
        porro corrupti in amet iusto aut id soluta consectetur fugiat tempora
        deleniti nobis suscipit obcaecati, autem iure ut! Quos repudiandae ut
        doloremque aspernatur iste quisquam laborum, blanditiis quidem odio at
        id, eaque similique voluptatem optio, aliquid qui corporis impedit
        praesentium error perspiciatis veritatis magni aut. Eveniet molestiae
        reiciendis ut repellat porro, est facilis omnis, et esse aspernatur, eum
        iure optio possimus at natus aliquid corrupti pariatur temporibus nisi.
        Est unde itaque voluptate odio aliquam! Quos id dolorum provident
        necessitatibus odit earum, iure blanditiis corrupti error atque quis,
        possimus voluptatem. Reiciendis incidunt voluptas eum consectetur hic
        numquam, ducimus quod itaque atque, voluptate magni iusto ad eaque enim
        obcaecati, explicabo doloremque eos repellendus quidem vero vel!
        Voluptatum ducimus sunt maxime repellat facere laudantium, sequi laborum
        hic ullam ut consectetur accusantium eum nam quaerat, deserunt veritatis
        soluta aliquam nihil!
      </div>
      <div class="textbox_lines_lorem">
        Temporibus nam deleniti nulla enim quo, autem reprehenderit a ratione
        aliquid aliquam magni esse cum sunt minima, vitae ut. Itaque ut quisquam
        delectus laudantium. Optio ipsa voluptate rem quos incidunt porro
        quaerat praesentium vero atque ab, doloribus sint necessitatibus nihil
        sunt numquam architecto quam. Illo dolor optio aliquam accusamus
        molestiae minima ut aspernatur nisi tempora eius ducimus animi facilis
        quas mollitia eveniet excepturi nihil, qui quis itaque deserunt.
        Laboriosam possimus hic placeat. Quia, quibusdam ex quae in pariatur
        fugiat. Doloribus, culpa pariatur dicta eveniet excepturi quam veritatis
        quos? Consequuntur quia porro magnam nesciunt accusantium, illum
        reprehenderit. Eius maxime aliquam consequuntur minima laboriosam
        repellat iure optio dolorem laudantium veritatis. Cupiditate, rem
        laudantium! Hic ab fugiat nam provident optio architecto aperiam dolorum
        voluptate obcaecati tenetur quos at praesentium natus numquam, quas
        tempora eos pariatur quibusdam maxime cupiditate et sint eligendi
        officia? Nesciunt omnis eaque iure ratione illo cupiditate fuga rem
        animi fugit id facilis dolorum excepturi magnam asperiores deserunt
        maxime, dignissimos aspernatur dolore modi, quibusdam dolor adipisci
        delectus veritatis! Nesciunt expedita blanditiis itaque possimus rem,
        aut exercitationem, delectus eligendi repellendus repellat tempore?
        Consequuntur eos nostrum pariatur illum esse ea perferendis facere,
        nobis voluptatibus modi nihil nulla placeat adipisci labore iure
        corporis minima mollitia, officia alias aliquid! Excepturi omnis
        adipisci dolore consequatur similique commodi ipsam rem molestias
        voluptates inventore qui, cupiditate quod dolor ullam autem, voluptas
        esse laboriosam itaque error ex, magnam blanditiis iste enim? Nam earum
        facere voluptate facilis expedita cum? Sed cum officia saepe explicabo
        est corrupti sint recusandae eveniet sunt suscipit possimus ullam
        nostrum obcaecati animi facilis natus expedita, voluptatem autem
        consequatur nam, soluta perspiciatis? Suscipit praesentium
        reprehenderit, beatae ab ut labore qui expedita veniam repellat dolore,
        nostrum excepturi, iure velit cupiditate sint fugit.
      </div>
      <div class="textbox_lines_lorem_small">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        explicabo fugit accusamus ratione. Maxime, praesentium! <br />
        All rights reserved. &copy; 2023 BestPartyService GmbH
      </div>
    </div>
    <div class="footer">
      <div class="info">
        <p>
          Armadillogasse 55. <br />
          1010 Wien-AT <br />
        </p>
        {% load static %}
        <img src="{% static 'party_style/fire_logo.jpg' %}" alt="our_logo" />
        <p class="info2">
          imaginary@address.com <br />
          0676 12345678 <br />
        </p>
        <div class="social_links">
          <a
            href="https://www.facebook.com/"
            class="fa fa-facebook"
            target="_blank"
          ></a>
          <a
            href="https://www.instagram.com"
            class="fa fa-instagram"
            target="_blank"
          ></a>
          <a
            href="https://www.youtube.com"
            class="fa fa-youtube"
            target="_blank"
          ></a>
          <a
            href="https://twitter.com"
            class="fa fa-twitter"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
